html {
	background-color: #222;
	color: #fff
}

* {
	font-family: Arial
}

a {
	color: #0ff
}

/* Basic classes */
.left {
	text-align: left
}
.center {
	text-align: center
}
.right {
	text-align: right
}

